body {
  background-color: #251D3A;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

h2 {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  margin-top: 15px;
}

p {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 2px;
}


a {
  text-decoration: none;
  color: #fff
}
.description {
  width: 50%;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #293462;
  color: #fff;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
}